/* header.css */
/* ----------------------------------------------
   Header styles, hero text, main landing section
---------------------------------------------- */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: 
    linear-gradient(rgba(71, 94, 120, 0.5), rgba(124, 149, 178, 0.7)),
    url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.text-box {
  width: 90%;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-box h1 {
  font-size: 48px;
}

.text-box p {
  margin: 18px 0 40px;
  font-size: 18px;
  color: #fff;
}

/* Hero button styles */
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 30px;
  font-size: 16px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 0.15s;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background-color: #f44336;
}

/* Responsive header text size */
@media(max-width: 700px) {
  .text-box h1 {
    font-size: 32px;
  }
}
