/* nav.css */
/* ----------------------------------------------
   Navigation bar styles
---------------------------------------------- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 4%;
}

nav img {
  width: 150px;
  background-size: cover;
}

.nav-links {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

/* Simple hover underline */
.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.15s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

nav .fa-solid {
  display: none;
}

/* Mobile nav */
@media(max-width: 700px) {
  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: fixed;
    background-color: #f44336;
    height: 100vh;
    width: 150px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 1;
    transition: 0.15s;
  }

  nav .fa-solid {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }
}
